Repository CS3219-SE-Principles-and-Patterns/cs3219-project-ay2122-2122-s1-g28, pull requests merged in 2021-10, with the labels that each got.

#169 Frontend web rtc
  backend/chat/src/App.js
  backend/findFriend/src/services/findFriendService.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/match.js
  frontend/src/components/Chat/Chat.js
  frontend/src/components/Chat/Chat.module.css
  frontend/src/components/ChatMessage/ChatMessage.js
  frontend/src/components/ProfilePicture/ProfilePicture.js
  frontend/src/components/SearchMatch/SearchMatch.js
  frontend/src/components/VideoPlayer/VideoPlayer.js
  frontend/src/components/VideoPlayer/VideoPlayer.module.css
  frontend/src/pages/FindFriends/FindFriends.js
  frontend/src/pages/Login/Login.js
  frontend/src/reducers/match.js
  frontend/src/resources/NUSocialLife_Default_Profile.png
Labels: Frontend

#172 Account for situations when some interests can be empty
  backend/findFriend/src/services/findFriendService.js
Labels: bug, Backend

#168 Forum - Comments voting
  frontend/src/actions/comment.js
  frontend/src/components/CommentDetails/CommentDetails.js
  frontend/src/components/VoteArrows/VoteArrows.js
  frontend/src/components/VoteArrows/VoteArrows.module.css
  frontend/src/constants/ReduxConstants.js
  frontend/src/pages/ForumTopic/ForumTopic.js
  frontend/src/pages/SingleForumPost/SingleForumPost.js
  frontend/src/reducers/comment.js
Labels: Task, Frontend

#174 BUGFIX: Back button bug
  frontend/src/components/BackButton/BackButton.js
  frontend/src/pages/ForumTopic/ForumTopic.js
  frontend/src/pages/ManagePosts/ManagePosts.js
  frontend/src/pages/SingleForumPost/SingleForumPost.js
Labels: bug

#179 Backend config deploy script
  backend/deploy.sh
  backend/dockerDeploy.sh
  backend/ecs.yml
Labels: Task, Backend

#180 Backend CD
  .github/workflows/backend_deployment.yml
  .github/workflows/frontend_deployment.yml
  backend/chat/src/config/config.js
  backend/docker-compose.yml
  backend/findfriend/.dockerignore
  backend/findfriend/.eslintrc.json
  backend/findfriend/Dockerfile
  backend/findfriend/FindFriend_Postman_v1.json
  backend/findfriend/FindFriend_Postman_v2.json
  backend/findfriend/package-lock.json
  backend/findfriend/package.json
  backend/findfriend/src/App.js
  backend/findfriend/src/config/config.js
  backend/findfriend/src/controllers/findFriendController.js
  backend/findfriend/src/loaders/dbLoader.js
  backend/findfriend/src/middlewares/userAuth.js
  backend/findfriend/src/models/findFriendModel.js
  backend/findfriend/src/models/roomModel.js
  backend/findfriend/src/routes/findFriendRoutes.js
  backend/findfriend/src/services/findFriendService.js
  backend/forum/src/config/config.js
  backend/users/src/config/config.js
Labels: CI/CD

#182 BUGFIX: Vote logic and display
  backend/findfriend/src/middlewares/userAuth.js
  backend/forum/src/middlewares/userAuth.js
  backend/forum/src/services/commentService.js
  backend/forum/src/services/postService.js
  frontend/src/components/ForumPosts/ForumPosts.js
  frontend/src/components/SortButton/SortButton.js
  frontend/src/components/VoteArrows/VoteArrows.js
  frontend/src/pages/ForumTopic/ForumTopic.js
  frontend/src/pages/SingleForumPost/SingleForumPost.js
  frontend/src/reducers/comment.js
  frontend/src/reducers/post.js
Labels: bug
