Repository CS3219-SE-Principles-and-Patterns/cs3219-project-ay2122-2122-s1-g28, pull requests merged in 2021-11, with the labels that each got.

#188 Added autoscaling configuration and standardise findfriend naming
  backend/autoscaling.json
  backend/chatService.yml
  backend/deploy.sh
  backend/findFriendService.yml
  backend/findfriend/src/App.js
  backend/findfriend/src/controllers/findFriendController.js
  backend/findfriend/src/routes/findFriendRoutes.js
  backend/findfriend/src/services/findFriendService.js
  backend/forumService.yml
  backend/userService.yml
Labels: Task, Backend, DevOps

#190 Replace public subnet that consist of cluster of EC2 instances
  backend/ecs.yml
  resources/devops.png
Labels: Backend, DevOps

#191 Automate creation of scaling policy and Cloudwatch alarm to monitor
  backend/autoscaling.json
  backend/chatService.yml
  backend/ecs.yml
  backend/findFriendService.yml
  backend/forumService.yml
  backend/userService.yml
Labels: Backend, DevOps

#193 Clear up eslint files
  backend/chat/.eslintrc.json
  backend/chat/src/App.js
  backend/chat/src/config/config.js
  backend/findfriend/.eslintrc.json
  backend/findfriend/src/services/findFriendService.js
  backend/forum/.eslintrc.json
  backend/forum/src/App.js
  backend/forum/src/controllers/commentController.js
  backend/forum/src/controllers/postController.js
  backend/forum/src/middlewares/commentValidator.js
  backend/forum/src/middlewares/postValidator.js
  backend/forum/src/middlewares/userAuth.js
  backend/forum/src/services/commentService.js
  backend/forum/src/services/postService.js
  backend/users/.eslintrc.json
Labels: Task, Backend

#194 Add DNS mapping of server.nusocialife.net for backend
  backend/ecs.yml
Labels: Backend, DevOps

#196 Configure SSL certificaite to add HTTPS path to AWS ALB
  backend/ecs.yml
Labels: Backend, DevOps

#199 Update images
  resources/developer_workflow.jpg
  resources/developer_workflow.png
  resources/devops.png
  resources/overall_architecture.jpg
Labels: Task

#200 Frontend chat route
  .github/workflows/backend_deployment.yml
  .github/workflows/frontend_deployment.yml
  backend/chat/src/App.js
  backend/chat/src/routes/chatRoutes.js
  frontend/public/index.html
  frontend/src/actions/match.js
Labels: Frontend

#201 Backend update upload profile image
  README.md
  backend/ecs.yml
  backend/forum/.eslintrc.json
  backend/forum/src/App.js
  backend/users/.eslintrc.json
  backend/users/package-lock.json
  backend/users/package.json
  backend/users/src/controllers/userController.js
  backend/users/src/services/imageService.js
Labels: bug, Task, Backend, DevOps

#204 Remove unused routes
  backend/forum/src/controllers/commentController.js
  backend/forum/src/controllers/postController.js
  backend/forum/src/routes/forumRoutes.js
Labels: Task, Backend

#205 Update README to include devops setup instructions
  README.md
  backend/ecs.yml
  backend/users/src/controllers/userController.js
  frontend/package-lock.json
  frontend/package.json
Labels: bug, Task, Backend, DevOps

#206 Setup skeleton for idempotency API check
  backend/users/src/controllers/userController.js
Labels: Task, Backend

#208 Refine devops to remove unnecessary resources
  README.md
  backend/chatService.yml
  backend/ecs.yml
  backend/findFriendService.yml
  backend/forumService.yml
  backend/userService.yml
  backend/users/src/controllers/userController.js
  backend/users/src/services/mailerService.js
  backend/users/src/services/userService.js
Labels: bug, Backend, DevOps

#210 Remove backend redirect url in mailer
  backend/users/src/services/mailerService.js
Labels: bug, Backend

#211 Add await to mongoose service call
  backend/users/src/controllers/userController.js
  backend/users/src/routes/userRoutes.js
  backend/users/src/services/userService.js
Labels: Task, Backend

#212 Add await to findfriend mongoose save and modify users resendEmail
  backend/findfriend/src/services/findFriendService.js
  backend/users/src/controllers/userController.js
  backend/users/src/routes/userRoutes.js
Labels: Task, Backend

#213 Update devops architecture and fix bug in resend email
  backend/users/src/controllers/userController.js
  resources/devops.png
Labels: Task, Backend, DevOps

#214 Update missing AWS Amplify icon during image export
  resources/developer_workflow.png
Labels: Task

#215 Fix resendEmail
  backend/users/src/controllers/userController.js
Labels: bug, Backend

#216 Update resendEmail API and reconfigure resources for AWS deployment
  README.md
  backend/chatService.yml
  backend/findFriendService.yml
  backend/forumService.yml
  backend/userService.yml
  backend/users/src/controllers/userController.js
Labels: Task, Backend, DevOps

#218 Change config for eslint
  backend/chat/.eslintrc.json
  backend/chat/src/App.js
  backend/chat/src/config/config.js
  backend/findfriend/.eslintrc.json
  backend/findfriend/src/routes/findFriendRoutes.js
  backend/findfriend/src/services/findFriendService.js
  backend/forum/.eslintrc.json
  backend/users/.eslintrc.json
  backend/users/src/controllers/userController.js
Labels: Task, Backend

#223 Update deployment script
  backend/deploy.sh
Labels: Task, Backend, DevOps

#224 Update clear match API in findfriend
  backend/findfriend/src/services/findFriendService.js
Labels: Task, Backend

#226 Backend rename find friend
  backend/chatService.yml
  backend/ecs.yml
  backend/findfriendService.yml
  backend/forumService.yml
  backend/userService.yml
Labels: Task, Backend

#227 Refactor files and update config
  backend/chatService.yml
  backend/ecs.yml
  backend/findfriend/src/App.js
  backend/findfriend/src/controllers/findFriendController.js
  backend/findfriend/src/middlewares/userAuth.js
  backend/findfriend/src/routes/findFriendRoutes.js
  backend/findfriend/src/services/findFriendService.js
  backend/findfriendService.yml
  backend/forumService.yml
  backend/userService.yml
  backend/users/src/config/config.js
  backend/users/src/controllers/userController.js
  backend/users/src/loaders/dbLoader.js
  backend/users/src/middlewares/userAuth.js
  backend/users/src/middlewares/userValidator.js
  backend/users/src/services/imageService.js
  backend/users/src/services/mailerService.js
  backend/users/src/services/userService.js
Labels: Backend, DevOps

#228 Update findfriend naming convention
  backend/findfriend/src/controllers/findfriendController.js
  backend/findfriend/src/routes/findfriendRoutes.js
  backend/findfriend/src/services/findfriendService.js
Labels: Task, Backend

#230 Add logs to AWS ECS service
  backend/chatService.yml
  backend/findfriendService.yml
  backend/forumService.yml
  backend/userService.yml
Labels: Task, Backend, DevOps

#232 Backend update clear match
  backend/findfriend/src/services/findfriendService.js
Labels: Task, Backend

#233 Remove console log
  frontend/src/components/Chat/Chat.js
Labels: Task, Backend

#235 Rename find friend model and fix yml files
  backend/chatService.yml
  backend/findfriend/src/models/findfriendModel.js
  backend/forumService.yml
  backend/userService.yml
Labels: bug, Task, Backend

#236 Update findfriendService for random match and repeated user condition
  backend/findfriend/src/services/findfriendService.js
Labels: Task, Backend

#237 Update user profile name validator
  backend/users/src/middlewares/userValidator.js
Labels: Task, Backend

#238 Update README.md
  README.md
Labels: Task

#239 Update README.md
  README.md
Labels: Task

#240 Refactor code in findfriend
  backend/chatService.yml
  backend/findfriend/package-lock.json
  backend/findfriend/src/services/findfriendService.js
  backend/findfriendService.yml
  backend/forum/package-lock.json
  backend/forumService.yml
  backend/userService.yml
  backend/users/package-lock.json
Labels: Task, Backend, DevOps

#241 Update Devops config and readme instructions for autoscaling
  README.md
  backend/chatService.yml
  backend/ecs.yml
  backend/findfriendService.yml
  backend/forumService.yml
  backend/userService.yml
Labels: Task, Backend, DevOps

#242 Update README.md
  README.md
Labels: Task
